<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538850303764-m7o48ev3p49npod28r2sf8t1s7ugah5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538850303764-m7o48ev3p49npod28r2sf8t1s7ugah5n</string>
	<key>API_KEY</key>
	<string>AIzaSyA_xS4ctvSVLeXfzDBr2WhRdW1iBYQdqK0</string>
	<key>GCM_SENDER_ID</key>
	<string>538850303764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akwaaba.app.akwaaba</string>
	<key>PROJECT_ID</key>
	<string>akwaaba-app-ghana</string>
	<key>STORAGE_BUCKET</key>
	<string>akwaaba-app-ghana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538850303764:ios:1948fd4e1975a19a15ac01</string>
</dict>
</plist>